:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */
body {

    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.40em;
}

h2 {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

h4 {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}


/*
 * ==========
 * = Header =
 * ==========
 */

/* Make nav items appear in line */
nav ul {
  list-style: none;
  padding: 0;
  float: right;
  align-self: flex-end;
}
nav li {
  text-align: right;
}

a {
  color: #fcfcfc;
  text-decoration: none;
}

header {
  background-color: #2a274e;
  color: #fcfcfc;


  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

#profile-pic {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  padding: auto;
  display: inline-block;

  background-color: white;
  border-color: #fcfcfc;
  border-width: 5px;
  border-radius: 100%;
}

#relay-logo {
  display: block;
  height: 1.5em;
  width: auto;
  flex-grow: 1;
}

#relay-logo-box {
  flex-grow: 1;
}

.invisible {
  display: none;
  flex: 0 0 auto !important;
}


nav.topNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  order: 2;
  flex: 1 0 100%;
  background-color: #2f2f54;
}

nav.topNav ul {
  transformation-origin: top center;
  transition: flex 250ms linear;
  flex: 1 0 auto;
}

.topNavToggle {
  width: 100%;
  text-align: center;
  padding: 0.2em;
}



/*
 * ===========
 * = Content =
 * ===========
 */
