:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */
body {

    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.40em;
}

h2 {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

h3 {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

h4 {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Make nav items appear in line */
nav ul {
  list-style: none;
}
nav li {
  display: inline;
}

header {
  background-color: #2a274e;
  color: #fcfcfc;

  padding: 0.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

#profile {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  padding: auto;
  display: inline-block;

  background-color: white;
  border-color: #fcfcfc;
  border-width: 5px;
  border-radius: 100%;
}

#relay-logo {
  display: block;
  height: 1.5em;
  width: auto;
}

.invisible {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
